html, body {
	height: 100%;
	width: 100%;
}
.inactive {
	opacity: 0;
}
.active {
	opacity: 1;
	z-index: 2;
}
.player {
	height: 100vh;
	background-image: url('../img/image background.jpg');
	font-family: 'Lato', sans-serif;
	font-weight: 400;
	color: #ffffff;
}
.choose-view {
	width: 100%;
	height: 26%;
	display: flex;
	justify-content: space-between;
}
.choose-view--control {
	padding: 88px;
}
.main {
	display: flex;
	justify-content: space-between;
}
.list-container {
	width: 45%;
}
.track-list {
	list-style: none;
	display: flex;
	flex-direction: column;
}
.track-list_item {
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-bottom: 1px solid rgba(255, 255, 255, 0.15);
}
.track-list_item:last-child {
	border: none;
	width: 100%;
}
.track-info {
	display: flex;
	align-items: center;
	max-width: 600px;
}

.play-icon {
	position: absolute;
	top: 50%;
	transform: translate(-50%, -50%);
}
.track-number, .play-icon {
	padding: 24px 36px;
	font-size: 26px;
	font-weight: 400;
}
.track-img {
	width: 72px;
	height: 72px;
}
.track-name {
	padding: 17px 19px;
}
.track-name--title {
	font-size: 18px;
	font-weight: 700;
}
.track-name--artist:after {
	content: " • ";
}
.track-actions {
	display: flex;
}
.like, .action {
	padding: 0 10px;
}
.album-view {
	width: 40%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 30px;
}
.track-img--playing {
	width: 530px;
	height: 530px;
}